body{
    position: relative;

}

header{
    display: flex;
    flex: row;
    position: relative;
    width: auto;
    
    padding: 0px 30px;
    gap: 20px;
    width: 1440px;

   left: 0px;
   top: 0px;
   
    
    background: #FFFFFF;
   

}

.imgcontainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  0px 10px;
    gap: 10px;
    width: 266px;
    height: 180px;
}

.imglogo{
box-sizing: border-box;
justify-content: center;    
margin: 10px 0px;   
position: absolute;
width: 180px;
height: 180px;
border-radius: 3000px;
}

.containerbotones{
   

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 20px;
    gap: 20px;
    width: 90%;
    height: 180px;
    flex: none;
    order: 1;
    flex-grow: 0;


}

.boton1{
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    /* Auto layout */
    font-style: italic;
    color: #0e724e;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 60px;
 
    display: inside;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
    width: 116px;
    height: 70px;
    
    background: #FFFFFF;
    border-radius: 100px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton2{
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    /* Auto layout */
    font-style: italic;
    color: #0e724e;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 60px;
 
    display: inside;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
    width: 306px;
    height: 70px;
    
    background: #FFFFFF;
    border-radius: 100px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton3{
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    /* Auto layout */
    font-style: italic;
    color: #0e724e;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 60px;
 
    display: inside;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
    width: 342px;
    height: 70px;
    
    background: #FFFFFF;
    border-radius: 100px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.boton4{
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    /* Auto layout */
    font-style: italic;
    color: #0e724e;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 60px;
 
    display: inside;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
    width: 256px;
    height: 70px;
    
    background: #FFFFFF;
    border-radius: 100px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

.section1{
    
    position: relative;
    background-image: url(Fondo1.png);
    display: flex;
    width: 100%;
    height: 1024px;
}


.frame2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 633px;
height: 512px;
left: 762px;
top: 346px;
order: 0;
border-radius: 50px;

}

.frame3{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 40px;
    gap: 30px;
    width: 613px;
    height: 492px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 70px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: #0e724e solid;

}

.Linea0{
   
margin: 0;
font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 900;
color: #024568;
flex: none;
order: 0;
flex-grow: 0;
}

.Linea1{
    
margin: 0;

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
font-style: normal;
font-weight: 600;
color: #000000;

flex: none;
order: 1;
flex-grow: 0;
}


.Linea2{
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 600;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
}


.Linea3{
 
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;

}
.Linea4 {


margin: 0 ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 600;
color: #000000;
flex: none;
order: 4;
flex-grow: 0;

}

.Linea5{
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 800;
color: #000000;
flex: none;
order: 5;
flex-grow: 0;
}

.imgcontainer2{
    border: 4;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 px 10px;
    gap: 10px;
    width: 1079px;
    height: 844px;
    border: #000000 solid;
}

.section2{
    
    background-image:url(Fondo\ 2.png);
    position: relative;
    width: 100%;
    height: 1024px;
    background: #FFFFFF;

}

.imglogo2{
position: absolute;
width: 409px;
height: 409px;
left: 903px;
top: 40px;
}

.sobreus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 40px;
    gap: 10px;
    
    position: absolute;
    width: 653px;
    height: 500px;
    left: 102px;
    top: 309px;
    
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;

}

.aboutus{
    width: 600px;
    height: 400px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

.section3{
    
    position: relative;
    width:90%;
    height: 1100px; ;
    
    background: #FFFFFF;
}
.containerpasos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 120px;
    
   
    width: 90%;
    height: 315px;
    left: 28px;
    top: 56px;

}

.containerpaso1{
    width: 368px;
    height: 315px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.num1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    
   
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #0E724E;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;

}

.Eligepaquete{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    gap: 40px;
    
 
    width: 343px;

    left: 25px;
    top: 35px;
    
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    
    
    color: #000000;
    
}

.containericono{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin: 0;
    
    height: 100px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;


}

.containerpaso2{
    width: 368px;
    height: 315px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.num2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    
   
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #0E724E;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;

}

.imgcomofun{
    
    background-image: url(comofunciona.png);
    width: 90%;
    height: 560px;
    left: 0px;
    top: 191px;
    
}


.textopaquetes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    position: absolute;
    width: 260px;
    height: 50px;
    left: 31px;
    top: 570px;
    
    background: #FFFFFF;
    border-radius: 30px;
 
    margin: 0;
  
  
    
}
.paquetes{
    width: 173px;
    height: 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    
    
    color: #024568;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.catalogo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 150px;
    
    position: absolute;
    width: 1290px;
    height: 421px;
    left: 70px;
    top: 635px;

}

.catalogo1{
    width: 330px;
    height: 421px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.catalogo2{
    width: 330px;
    height: 421px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.catalogo3{
    width: 330px;
    height: 421px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.textcatalogo{
   
    width: 169px;
    height: 46px;
    left: 122px;
    top: 368px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    
    color: #024568;
}

.textcatalogo2{
    
    width: 169px;
    height: 46px;
    left: 122px;
    top: 368px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    
    color: #024568;
}

.textcatalogo3{
    
    width: 169px;
    height: 46px;
    left: 122px;
    top: 368px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    
    color: #024568;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 30px;
    gap: 30px;
    
   
    width: 1440px;
    height: 503px;
    left: 0px;
    top: 41px;

}

.jumbo{
    width: 368px;
    height: 315px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 0px 30px;
    gap: 30px;
   
    width: 1440px;
    height: 503px;
    left: 0px;
    top: 1080px;

}



.fondocontainer{
    background-image: url(Fondocontactanos.png);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 364px;
    height: 75px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
     /* identical to box height */


    color: #0E724E;

    width: 1440px;
    height: 240px;
    left: 0px;
   
  
    
}
.cuadrocontacto{
    position: relative;
display: flex;
flex-direction: row;
align-items: flex flex-start;
padding: 20px 15px;
gap: 50px;

width: 712px;
height: 294px;
top: 160px;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.containercontrols{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    
    width: 320px;
    height: 204px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

.controls{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 5px 10px;
gap: 10px;

width: 320px;
height: 48px;

background: rgba(255, 255, 255, 0.8);
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.containercontrols2{
    display: flex;
flex-direction: row;
align-items: center;
    box-sizing: border-box;

width: 350px;
height: 204px;

background: rgba(255, 255, 255, 0.8);
border: 1px solid #71C48C;
border-radius: 15px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.controls2{
    border: 1px solid white;
    border-radius: 15px;
    width: 340px;
    height: 176px;
    left: 25px;
    top: 8px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    
    

}
.containerBotonEnviar{

    top: 255px;

  
}

.Enviar{
    position: relative;
    bottom: -510px;
    padding: 10px 40px;
    gap: 10px;
    width: 199px;
    height: 70px;

    background: #024568;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
     line-height: 50px;
/* identical to box height */

    letter-spacing: 0.015em;

     color: #FFFFFF;


/* Inside auto layout */

    flex: none;

    flex-grow: 0;

}


